main {
    font-family: Verdana;
}

.page-title {
  text-align: center;
  margin: 40px auto 10px;
  color: #DD0031;
}

.doc-container {
    width: 100%;
    margin: 30px auto;
}

.doc-title {
    font-size: 25px;
    color: #DD0031;
}

.doc-list {
    font-size: 14px;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;

    & li:not(:last-child) {
        margin-bottom: 10px;
    }

    & .sub-li {
      padding-left: 20px;
    }

    & .sub-sub-li {
      padding-left: 40px;
    }
}

.link {
    display: inline-block;
    margin-top: 30px;
    background-color: #DD0031;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    outline: none;
    text-decoration: none;
    transition: all .3s;
    transform: scale(1);

    &:hover {
        transform: scale(1.02);
        background-color: #b10228;
    }

}

.page-desc {
    font-size: 14px;
    color: #DD0031;
}

