<div class="i-accordion-container">
    
    @let titleAsHtml = service.allOptions().titleVariant === "html";
    @let descAsHtml = service.allOptions().descriptionVariant === "html";
    @let headIsClickable = !!service.allOptions()?.headIsClickable;

     @for (item of data; track $index;) {
        @let active = service.isActive(item.key);
        @let disabled = !!item?.disabled;
        <div class="i-accordion-item">
        
            <div (click)="!disabled && headIsClickable ? service.toggle(item.key) : null" class="i-accordion-head" [ngStyle]="{
                backgroundColor: disabled ? service.allOptions()?.headColors?.disabled?.bg : active ? service.allOptions()?.headColors?.active?.bg : service.allOptions()?.headColors?.deactive?.bg, 
                color: disabled ? service.allOptions()?.headColors?.disabled?.text : active ? service.allOptions()?.headColors?.active?.text : service.allOptions()?.headColors?.deactive?.text,
                cursor: !disabled && headIsClickable ? 'pointer' : 'auto'
            }">
                <h6 class="i-accordion-title">
                     @if (titleAsHtml) { <div [innerHTML]="item?.title" > </div>}
                    @else { <div> {{ item?.title }}</div>}
                </h6>
                <button (click)="!disabled && !headIsClickable ? service.toggle(item.key) : null" class="i-accordion-toggler" type="button" [ngClass]="{
                    disabled: disabled
                }">
                    @if (!active)  { <svg viewBox="64 64 896 896" focusable="false" data-icon="plus" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M482 152h60q8 0 8 8v704q0 8-8 8h-60q-8 0-8-8V160q0-8 8-8z"></path><path d="M192 474h672q8 0 8 8v60q0 8-8 8H160q-8 0-8-8v-60q0-8 8-8z"></path></svg> }
                    @else { <svg viewBox="64 64 896 896" focusable="false" data-icon="minus" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M872 474H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h720c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z"></path></svg> }
                </button>
            </div>
             <div class="i-accordion-desc" [ngClass]="{
                show: active
             }" [ngStyle]="{
                backgroundColor: disabled ? service.allOptions()?.descriptionColors?.disabled?.bg : service.allOptions()?.descriptionColors?.active?.bg, 
                color: disabled ? service.allOptions()?.descriptionColors?.disabled?.text : service.allOptions()?.descriptionColors?.active?.text
            }"
            >   
             @if (descAsHtml) { <div [innerHTML]="item?.description" > </div>}
             @else { <div> {{ item?.description }}</div>}
            </div>
            </div>
            }
            
</div>